body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
  }

.main_ {
    width: 100%;
    align-items: left;
    text-align: left;
    display: flex;
  }

.left_ {
    width: 90%;
    text-align: left;
    margin: 10px;
  }

.right_ {
    width: 10%;
    text-align: left;
    margin: 10px;
    background-color: whitesmoke;
  }

  .left__ {
    text-align: left;
    margin: 10px;
  }

.right__ {
    width: 150px;
    margin: 10px;
  }

hr {
    margin: 0px;
}